@page
@model IndexModel
@{
    ViewData["Title"] = "Domov";
}

<div class="text-center">
    <h1 class="display-4">Preveri ali tvoj računalnik poganja tvoje najljubše igre</h1>
    <p>Na spletnem mestu preprosto izberi tvojo najljubšo igro in vnesi tvoje komponente.</p>
    <p>Spletno mesto ti bo vrnilo ali bo igra delovala na tvojem računalniku.</p>
</div>

<div>

</div>