@page
@model IndexModel
@{
    ViewData["Title"] = "Domov";
}

<div class="container login-container">
    <h1 class="display-4">Preveri ali tvoj računalnik poganja tvoje najljubše igre</h1>
    <p>Na spletnem mestu preprosto izberi tvojo najljubšo igro in vnesi tvoje komponente.</p>
    <p>Spletno mesto ti bo vrnilo ali bo igra delovala na tvojem računalniku.</p>
    <div class="text-center">
        <img src="https://www.cyberpowerpc.com/images/cs/prism321v/cs-450-179_400.png" alt="Cyberpower PC">
    </div>

</div>

