@page
@model RGIS_IvancicBencak.MinimalneSpecifikacijeModel
@{
    ViewData["Title"] = "Minimalne specifikacije";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RGIS_IvancicBencak</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container login-container">
        <div class="container">
            <form method="post">
                <div class="form-group">
                    <label for="games">Izberi igro:</label>
                    <select id="games" name="selectedGame" class="form-control" onchange="getGameSpecifications(this.value)">
                        @foreach (var game in Model.games)
                        {
                            <option value="@game.Title">@game.Title</option>
                        }
                    </select>
                </div>
            </form>

            <div class="card-body">
            </div>
        </div>

        <div class="container" id="gameSpecifications" data-selected-game="@Json.Serialize(Model.SelectedGame)">
        </div>
    </div>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function getGameSpecifications(selectedGame) {
            $.ajax({
                url: '/MinimalneSpecifikacije?handler=GameSpecifications',
                type: 'GET',
                data: { game: selectedGame },
                success: function (data) {
                    console.log('Received data:', data);
                    updatePageContent(data);
                },
                error: function (error) {
                    console.error('Error fetching game specifications:', error);
                }
            });
        }

        function updatePageContent(selectedGame) {
            console.log('Selected game:', selectedGame);

            if (selectedGame != null) {
                $('#gameSpecifications').html(`
                    <h5 class="card-title">${selectedGame.title} by ${selectedGame.brand}</h5>
                    <p class="card-text-cpu">CPU: ${selectedGame.minimumRequirement?.cpu?.name || 'N/A'}</p>
                    <p class="card-text-gpu">GPU: ${selectedGame.minimumRequirement?.gpu?.name || 'N/A'}</p>
                    <p class="card-text-ram">RAM: ${selectedGame.minimumRequirement?.ram?.quantity || '8 GB'}</p>
                `);
            } else {
                $('#gameSpecifications').html('<p>No game selected.</p>');
            }
        }</script>
</body>
</html>
