@page
@model RGIS_IvancicBencak.MinimalneSpecifikacijeModel
@{
    ViewData["Title"] = "Minimalne specifikacije";
}
<h1>@ViewData["Title"]</h1>
<h2>Seznam iger</h2>

<form method="post">
    <label for="games">Izberi igro:</label>
    <select id="games" name="selectedGame" asp-items="Model.GameSelectList"></select>
    <button type="submit">Prikaži specifikacije</button>
</form>

@if (Model.SelectedGame != null)
{
    <h3>Specifikacije za @Model.SelectedGame</h3>
    <p>Minimalne specifikacije: @Model.GetGameSpecifications(Model.SelectedGame)</p>
}
